# Python artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/
.venv/

# PyInstaller outputs
build/
dist/
*.spec

# macOS Finder files
.DS_Store
._*

# Configuration
/eventlog_tools.ini
